@model AppLibrary.Models.book

@{
    ViewBag.Title = "Details";
}

<h2>Book Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publish_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.book_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
